<!DOCTYPE html>
<html>
  <head>
    <title>ProfilPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div>
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
